.header {
   background-color: #FFF8B6;
   background-image: url(/static/single_hero_bg.svg);
   background-repeat: no-repeat;
   background-size: cover;
}

.header-content {
  overflow: auto;
}

.title {
  color: #F8AA27;
  text-align: center;
  text-transform: uppercase;
  margin: 2em;
}
