.navBarContainer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.fullLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fullLinks a {

}

.rebaseLogo {
    fill: pink;
}