.image {
    width: 100%;
}

.name {
    position: absolute;
    padding: .5em;
}

.hero {
    width: 40%;
    margin: 0;
    padding: 0;
    position: relative;
}

.speakerPage {
    width: calc(100%/4);
    margin: 0;
    padding: 0;
    position: relative;
}

.imageWrapper {
    color: pink;
}