.hero {
  display: flex;
}

.img-wrapper,
.text-wrapper {
  width: 50%;
}

.hero-image {
  max-width: 100%;
  position: relative;
  left: -10%;
}

.text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  position: relative;
  text-align: center;
}

.hero-title {
  font-weight: bold;
  display: inline-block;
  margin: 0 0 3em 0;
}

.hero-title > span {
  display: block;
  position: relative;
  line-height: 1em;
  text-transform: uppercase;
}

.word-first,
.word-third {
  color: #FAC55B;
}

.word-first {
  left: -1.5em;
}

.word-second {
  color: #F8AA27;
  left: 1em;
}

.word-third {
  left: -2em;
}

.hero-date,
.hero-location {
  position: absolute;
  font-size: .883em;
  font-weight: bold;
  color: #4A807B;
  display: block;
}

.hero-date {
  top: 3.5em;
  right: 100%;
  width: 100%;
}

.hero-location {
  top: 9em;
  left: 0;
  width: 100%;
}

.hero-location > span {
  position: relative;
  top: 1em;
  left: -.5em;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    font-size: 1em;
    margin: 0 .5em;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.button.green {
    color: #fff;
    background: #20655f;
}

.button.white {
    color: #20655f;
    background: #fff;
}
