@import url('https://fonts.googleapis.com/css?family=Oswald:300,700|PT+Mono');

/*---

BOOTSTRAP BREAKPOINT RESPONSIVE TYPOGRAPHY
by Michael Panik
v1.0

NEXT STEPS:
  - Establish base line-height best practices
  - Apply vertical rhythm

---*/

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

p.intro {
    line-height: 1.75em;
    letter-spacing: .05em;
}

ul,
ol {
  margin-bottom: 2em;
}

li {
  line-height: 1.5em;
}

h1, .h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2.49em;
  line-height: 1.5em;
}

h2, .h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2.07em;
  line-height: 1.5em;
}

h3, .h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.73em;
  line-height: 1.5em;
}

h4, .h4 {
  font-family: 'PT Mono', monospace;
  font-size: 1.44em;
  line-height: 1.5em;
}

h5, .h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* ---
MEDIA QUERIES
--- */
@media (min-width:992px) {
    html {
        font-size: 18px;
    }

    h1, .h1 {
        font-size: 3.05em;
        line-height: 1.5em;
    }

    h2, .h2 {
        font-size: 2.44em;
        line-height: 1.5em;
    }

    h3, .h3 {
        font-size: 1.95em;
        line-height: 1.5em;
    }

    h4, .h4 {
        font-size: 1.56em;
        line-height: 1.5em;
    }

    h5, .h5 {
        font-size: 1.25em;
        line-height: 1.5em;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 20px;
    }

    h1, .h1 {
        font-size: 3.16em;
        line-height: 1.5em;
    }

    h2, .h2 {
        font-size: 2.37em;
        line-height: 1.5em;
    }

    h3, .h3 {
        font-size: 1.78em;
        line-height: 1.5em;
    }

    h4, .h4 {
        font-size: 1.33em;
        line-height: 1.5em;
    }

    h5, .h5 {
        font-size: 1em;
        line-height: 1.5em;
    }
}
